@model IEnumerable<SimpleToDo.Model.Entities.List>
@{
    ViewData["Title"] = "Index";
}
<h2>To Do Lists</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="grid-todolist-vue" class="table">
    <thead>
        <tr>
            <th v-for="(index, column) in gridColumns" v-on:click="sortBy(column)" >
                {{ column.name }}
            </th>            
        </tr>
    </thead>
    <tbody>

        <tr v-for="toDoList in toDoLists">
            <td>
                {{ toDoList.name }}
                @*<a v-on:click="" asp-controller="Task" asp-action="Index" asp-route-listId="@item.ListId">{{ toDoList.Name }}</a>*@
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ListId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ListId">Delete</a>*@
            </td>
        </tr>

        <tr v-if="toDoLists.length <= 0">
            <td colspan="2">
                No Data Found.
            </td>            
        </tr>

    </tbody>
</table>


@section Scripts {
    <script src="~/js/app/list/index-vue.js"></script>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Task" asp-action="Index" asp-route-listId="@item.ListId">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ListId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ListId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ListId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
